services:
    app:
        image: 'php:8.4-cli'
        container_name: crms-app
        working_dir: /var/www
        volumes:
            - '.:/var/www'
        depends_on:
            - mysql
    mysql:
        image: 'mysql:8.0'
        container_name: crms-mysql
        environment:
            MYSQL_DATABASE: crms
            MYSQL_ROOT_PASSWORD: root
        ports:
            - '3307:3306'
        volumes:
            - 'mysql_data:/var/lib/mysql'
        command: '--default-authentication-plugin=mysql_native_password'
    phpmyadmin:
        image: 'phpmyadmin:latest'
        container_name: crms-phpmyadmin
        environment:
            PMA_HOST: mysql
        ports:
            - '8081:80'
        depends_on:
            - mysql
volumes:
    mysql_data: null
    sail-mysql:
        driver: local
